/* PERSONNALISATION DU TITRE CAR ON NE PEUT METTRE L'IMAGE PNG

.titre1
  font-weight: 800
  font-size: 32px

/* PERSONNALISER LES [A]

a
  text-transform: uppercase
  font-size: 13px
  font-weight: 400

/* CRÉATION DE LA [FORME LUNE - MOONSHINE]

.moonshine
  height: 29px
  width: 36px
  border-radius: 53%
  box-shadow: 16px 3px 0px 5px #000000

/* SPAN [LOGIN - CONNEXION] A PERSONNALISER

.login
  background-color: #bd584e
  box-shadow: 0 5px 0 rgb(158, 6, 6)
  color: white
  font-weight: bold
  padding: 7px 17px 7px 17px
  position: relative
  text-transform: uppercase
  border-radius: 20px
  &:hover
    background-color: #800909
    cursor: pointer
  &:active
    box-shadow: none
    top: 5px

/* Hover (:hover): When the mouse cursor is place on top of the link without a click
 *Visited (:visited): The appearance of a link that the user has clicked on the page before 
 *when the mouse cursor is not on top of it
 *Active (:active): When the link is in the process of being clicked. It might be super quick, 
 *but this is when the mouse button has been depressed and before the click is over.